@model Web.ViewModel.EstudianteViewModel
@using Web.ViewModel

@{
    var nacionalidadesSelect = (IEnumerable<NacionalidadesViewModel>)ViewBag.Nacionalidades;
}

<div class="row ">
    <div class="col text-right mb-3 mt-1">
        <a href="/Estudiante/Index" class="btn btn-danger btn-large shadow ">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Ir a la lista
        </a>
    </div>
</div>

@using (Html.BeginForm(new { @class = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id_Estudiantes)
    <div class="shadow-sm p-5 mb-5 bg-white rounded
     animate__animated animate__fadeIn animate__faster">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Nombre)
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                <small>@Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })</small>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Apellido)
                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                <small>@Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })</small>

            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.FechaNacimiento)
                @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control", Type = "date" } })
                <small>@Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })</small>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Matricula)
                @Html.EditorFor(model => model.Matricula, new { htmlAttributes = new { @class = "form-control" } })
                <small>@Html.ValidationMessageFor(model => model.Matricula, "", new { @class = "text-danger" })</small>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Carrera)
                @Html.EditorFor(model => model.Carrera, new { htmlAttributes = new { @class = "form-control" } })
                <small>@Html.ValidationMessageFor(model => model.Carrera, "", new { @class = "text-danger" })</small>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.FechaInicio)
                @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control", Type = "date" } })
                <small>@Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })</small>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.FechaFinalizacion)
                @Html.EditorFor(model => model.FechaFinalizacion, new { htmlAttributes = new { @class = "form-control", Type = "date" } })
                <small>@Html.ValidationMessageFor(model => model.FechaFinalizacion, "", new { @class = "text-danger" })</small>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.nacionalidad)
                @Html.DropDownListFor(model => model.Nacionalidad_id, new SelectList(nacionalidadesSelect, "Id_nacionalidad", "PAIS_NAC"), "Selecione la nacionalidad", new { @class = "form-control" })'
                <small>@Html.ValidationMessageFor(model => model.Nacionalidad_id, "", new { @class = "text-danger" })</small>
            </div>
        </div>

        <div class="form-group mt-2">
            <input type="submit" value="Guardar" class="pl-4  pr-4 shadow btn btn-primary p-2" />
        </div>
    </div>
}


